<section class="about">
    <section class="plugin">
    </section>
    <section class="about-me-info">
        <h1 class="title">{{dataLang.about}}</h1>
        <p class="description">{{dataLang.about_description}}</p>
        <section class="timeline">
            <h2 class="title">{{dataLang.timeline}}</h2>
            <ul class="timeline-professions">
                <li class="lawyer">
                    <h3>2017-2020</h3>
                    <h4>{{dataLang.previousjob1}}</h4>
                </li>
                <li class="teacher">
                    <h3>2020-2021</h3>
                    <h4>{{dataLang.previousjob2}}</h4>
                </li>
                <li class="developer">
                    <h3>2021-{{dataLang.now}}</h3>
                    <h4>{{dataLang.job}}</h4>
                </li>
            </ul>
            <ul class="timeline-experience">
                <li class="bootcamp">
                    <h5>2021</h5>
                    <h6>Bootcamp Adalab</h6>
                </li>
                <li class="job">
                    <h5>2022-{{dataLang.now}}</h5>
                    <h6>Grupo Hedima</h6>
                </li>
            </ul>
            <ul class="timeline-years">
                <li class="2017">2017</li>
                <li class="2018">2018</li>
                <li class="2019">2019</li>
                <li class="2020">2020</li>
                <li class="2021">2021</li>
                <li class="2022">2022</li>
                <li class="2023">2023</li>
            </ul>
        </section>
    </section>
</section>