@import '../../../assets/ui/css/variables.scss';

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 90px 90px 0;
    position: relative;
    .email-container {
        align-self: end;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: $color_5;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        .first-layer {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            background-color: $color_6;
            display: flex;
            justify-content: center;
            align-items: center;
            .second-layer {
                height: 25px;
                width: 25px;
                background-color: $color_7;
                border-radius: 50%;
                .email {
                    position: absolute;
                    text-align: center;
                    align-self: center;
                    background-color: transparent;
                    top: 35%;
                    left: -290%
                }
            }
        }
    }
    .copy {
        z-index: 1;
        font-size: 12px;
        background-color: transparent;
    }
    .bottom-svg {
        overflow: hidden;
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 90px 0 0;
        .email-container {
            width: 50px;
            height: 50px;
            margin: 0 50px;
            .first-layer {
                height: 30px;
                width: 30px;
                .second-layer {
                    height: 15px;
                    width: 15px;
                    .email {
                        top: 25%;
                        left: 100%;
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}