@import '../../../assets/ui/css/variables.scss';

.container-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    background-color: transparent;
    transition: background-color .5s ease-in-out;
    &.scrolled {
        background-color: $color_3;
        transition: all .5s ease-in-out;
    }
    .logo {
        cursor: pointer;
        padding: 5px;
    }
    .img-fluid {
        color: $color_1;
        margin: 10px;
        height: 50px;
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(1.2);
            transition: all .2s ease-in-out;
        }
    }
    .navbar-sections {
        color: $color_2;
        display: flex;
        background: transparent;
        .info {
            display: flex;
            list-style-type: decimal-leading-zero;
            background: transparent;
            li {
                padding: 4px 70px 5px 0;
                background: transparent;
                &:last-of-type {
                    padding-right: 30px;
                }
                &::marker {
                    font-family: 'Roboto Mono-Regular';
                }
                a {
                    color: $color_2;
                    border-bottom: 1px solid $color_2;
                    position: relative;
                    background-color: transparent;
                    cursor: pointer;
                    &::before {
                        content: '';
                        transform-origin: 100% 50%;
                        transition: transform 0.3s;
                        transform: scale3d(0, 1, 1);
                        pointer-events: none;
                    }
                    &::before, &::after {
                        background-color: currentColor;
                        position: absolute;
                        width: 100%;
                        top: 100%;
                        left: 0;
                        height: 1px;
                    }
                    &:hover, &:active, &:visited {
                        border: none !important;
                        text-decoration: none !important;
                        outline: none !important;
                    }
                    &:hover::before {
                        transform-origin: 0% 50%;
                        transform: scale3d(1, 1, 1);
                    }
                }
            }
        }
        .resume {
            margin-right: 20px;
        }
        .social-media {
            .fa-brands {
                padding: 10px;
                color: $color_2;
            }
            .dropdown {
                position: relative;
                display: inline-block;
                transform: translateY(-2px);
                .dropbtn {
                    background-color: $background_color;
                    border: none;
                    img {
                        height: 25px;
                        border-radius: 50px;
                    }
                }
                .dropdown-content {
                    display: none;
                    position: absolute;
                    z-index: 1;
                    right: 9px;
                    a {
                        padding: 12px 7px;
                        display: block;
                        img {
                            height: 25px;
                            border-radius: 70px;
                            object-fit: cover;
                            cursor: pointer;
                            &:hover {
                                transform: scale(1.2);
                                transition: all .2s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .container-navbar {
        .navbar-sections {
            .info {
                display: none;
            }
        }
    }
}