<header class="header">
    <section class="header-info">
        <h1 class="name">Claudia Berrocal</h1>
        <h3 class="job">{{dataLang.job}}</h3>
    </section>
    <section class="header-img">
        <div class="first-layer">
            <div class="second-layer">
                <div class="third-layer">
                    <div class="fourth-layer">
                        <img class="header-picture" src="../../../assets/ui/images/header_picture.svg" alt="{{dataLang.header_picture}}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a href="#about-me">
        <div class="arrow-down"></div>
    </a>
</header>
