@import '../../../assets/ui/css/variables.scss';


.header {
    position: relative;
    height: calc(100vh - 70px);
    .header-info {
        padding: 90px;
        max-width: 40vw;
        z-index: 1;
        position: relative;
        background-color: transparent;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .name {
            text-transform: uppercase;
            font-size: 90px;
            padding-bottom: 30px;
            border-bottom: 5px solid $color_2;
            background-color: transparent;
        }
        .job {
            padding-top: 30px;
            background-color: transparent;
        }
    }
    .header-img {
        position: absolute;
        bottom: -80px;
        right: 40px;
        width: 60vw;
        z-index: 0;
        display: inline-block;
        background-color: $color_1;
        img {
            mix-blend-mode: multiply;
            filter: grayscale(20%);
        }
    }
}