@import '../../../assets/ui/css/variables.scss';

.header {
    position: relative;
    height: calc(100vh - 70px);
    .header-info {
        padding: 90px;
        max-width: 40vw;
        position: relative;
        background-color: transparent;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        .name {
            text-transform: uppercase;
            font-size: 90px;
            padding-bottom: 30px;
            border-bottom: 5px solid $color_4;
            background-color: transparent;
        }
        .job {
            padding-top: 30px;
            background-color: transparent;
        }
    }
    .header-img {
        position: absolute;
        right: 40px;
        width: 60vw;
        z-index: 0;
        display: inline-block;
        background-color: $background_color;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
        .first-layer {
            height: 800px;
            min-width: 800px;
            background: radial-gradient(circle 520px, $color_4 70%, $color_3 75%);
            .second-layer {
                height: 600px;
                width: 600px;
                background: radial-gradient(circle 400px, $color_5 70%, $color_4 75%);
                .third-layer {
                    height: 450px;
                    width: 450px;
                    background: radial-gradient(circle 300px, $color_7 70%, $color_5 75%);
                    .fourth-layer {
                        height: 300px;
                        width: 300px;
                        background-color: $color_4;
                        .header-picture {
                            height: 300px;
                            width: 300px;
                            border-radius: 50%;
                            mix-blend-mode: hard-light;
                            filter: grayscale(30%);
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
    .arrow-down {
        cursor: pointer;
		background-position: center;
		background: transparent;
		display: flex;
		position: relative;
		font-size: 0.9rem;
		justify-content: center;
		height: 50px;
		margin: 0 auto;
		margin-top: 30px;
		animation: pulses 2.5s infinite ease-in-out;
		width: 260px;
		&:after {
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			border: solid $color_2;
			border-width: 0 5px 5px 0;
			transform: rotate(45deg);
			position: absolute;
			top: -30px;
		}
        &.scrolled {
            cursor: auto;
            &::after {
                opacity: 0;
                transition: all 1s ease-in-out;
            }
        }
    }
}

@keyframes pulses {
	0% { transform: scale(1); }
    50% { transform: scale(.8); opacity: .4;}
    100% { transform: scale(1); }
}

@media screen and (max-width: 1024px) {
    .header {
        .header-info {
            padding: 50px;
            max-width: 80vw;
            .name {
                font-size: 60px;
                max-width: 50%;
            }
        }
        .header-img {
            right: 0;
            width: 100vw;
            justify-content: flex-end;
            padding-right: 50px;
            .first-layer {
                height: 500px;
                min-width: 500px;
                .second-layer {
                    height: 400px;
                    width: 400px;
                    .third-layer {
                        height: 300px;
                        width: 300px;
                        .fourth-layer {
                            height: 200px;
                            width: 200px;
                            .header-picture {
                                height: 200px;
                                width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: auto;
        padding-top: 200px;
        display: flex;
        flex-direction: column-reverse;
        .header-info {
            padding: 50px;
            width: 50%;
            .name {
                font-size: 40px;
                max-width: 100%;
            }
        }
        .header-img {
            right: 0;
            width: 100vw;
            justify-content: flex-end;
            padding-right: 50px;
            .first-layer {
                height: 300px;
                min-width: 300px;
                .second-layer {
                    height: 250px;
                    width: 250px;
                    .third-layer {
                        height: 200px;
                        width: 200px;
                        .fourth-layer {
                            height: 150px;
                            width: 150px;
                            .header-picture {
                                height: 100px;
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
        .arrow-down {
            display: none;
        }
    }
}

@media screen and (max-width: 425px) {
    .header {
        .header-info {
            padding: 50px;
            width: 100%;
            .name {
                font-size: 30px;
                max-width: 100%;
            }
        }
    }
}