<section class="work" id="work">
    <article class="project-container" *ngFor="let project of projects; let i = index;" [id]="'project-' + project.id">
        <div class="each-project" [ngClass]="{'shown': i + 1 === shownProject, 'd-none': i + 1 !== shownProject}">
            <div class="project-count"><span class="actual-project">{{i + 1}}</span> / <span class="all-projects">{{projects.length}}</span></div>
            <div class="project-information">
                <h1 class="title">{{project.title}}</h1>
                <p class="description">{{project.description}}</p>
                <ul class="other-info">
                    <li class="role">{{dataLang.role}}<span>{{project.role}}</span></li>
                    <li class="technologies">{{dataLang.technologie}}<span>{{project.technologies}}</span></li>
                    <li class="year">{{dataLang.year}}<span>{{project.year}}</span></li>
                </ul>
            </div>
            <a [href]="project.link" class="project-image-link" target="_blank" rel="noopener noreferrer">
                <img class="project-image" [src]="project.image">
            </a>
            <button class="prev" (click)="prevProject()" *ngIf="shownProject > 1">{{dataLang.prev}}</button>
            <button class="next" (click)="nextProject()" *ngIf="shownProject < projects.length">{{dataLang.next}}</button>
        </div>
    </article>
</section>