@import '../../../assets/ui/css/variables.scss';

#work {
    padding-top: 100px;
    .each-project {
        height: calc(100vh - 230px);
        margin: 50px 100px 150px;
        border: solid 2px $color_4;
        padding: 80px;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        position: relative;
        .title, .description, .other-info, .project-count {
            grid-column: 1/3;
        }
        .title, .description, .other-info {
            width: 100%;
        }
        .title {
            font-size: 50px;
            font-family: 'Uchen-Regular';
            grid-row: 2/3;
            color: $color_2;
            padding-bottom: 20px;
            margin-bottom: 10px;
            border-bottom: 5px solid $color_4;
        }
        .description {
            grid-row: 3/4;
        }
        .other-info {
            grid-row: 5/6;
            display: flex;
            grid-column-gap: 80px;
            .role, .technologies, .year {
                display: flex;
                flex-direction: column;
                font-family: "Roboto Mono-Regular";
                font-size: 14px;
                text-transform: uppercase;
                color: $color_2;
                span {
                    font-family: 'Uchen-Regular';
                    font-size: 12px;
                    text-transform: none;
                }
            }
        }
        .project-count {
            font-family: "Roboto Mono-Regular";
            position: absolute;
            top: -10px;
            left: 0;
            padding: 0 20px;
        }
        .project-image {
            grid-column: 5/6;
            max-width: 250%;
            object-fit: contain;
            position: absolute;
            right: -150px;
            padding: 30px 0;
        }
        .next {
            color: $color_1;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 5px;
            position: absolute;
            bottom: -25px;
            grid-column: 3/4;
            border-width: 1px;
            padding: 10px 20px;
        }
    }
}