<section class="work" id="work">
    <article class="project-container" *ngFor="let project of projects; let i = index;" id="{{project.id}}">
        <div class="each-project {{project.class}}">
            <div class="project-count"><span class="actual-project">{{project.id}}</span> / <span class="all-projects">{{projects.length}}</span></div>
            <h1 class="title">{{project.title}}</h1>
            <p class="description">{{project.description}}</p>
            <img class="project-image" src="{{project.image}}">
            <ul class="other-info">
                <li class="role">{{dataLang.role}}<span>{{project.role}}</span></li>
                <li class="technologies">{{dataLang.technologie}}<span>{{project.technologies}}</span></li>
                <li class="year">{{dataLang.year}}<span>{{project.year}}</span></li>
            </ul>
            <button class="next" (click)="nextProject()">{{dataLang.next}}</button>
        </div>
    </article>
</section>