@import '../../../assets/ui/css/variables.scss';

#work {
    padding-top: 100px;
    .each-project {
        height: calc(100vh - 230px);
        margin: 50px 100px 150px;
        border: solid 2px $color_4;
        padding: 80px;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        position: relative;
        &.shown {
            display: flex;
        }
        .project-information {
            width: 50%;
            .title, .description, .other-info {
                width: 100%;
            }
            .title {
                font-size: 50px;
                font-family: 'Uchen-Regular';
                color: $color_2;
                padding-bottom: 20px;
                margin-bottom: 10px;
                border-bottom: 5px solid $color_4;
            }
            .other-info {
                display: flex;
                grid-column-gap: 80px;
                .role, .technologies, .year {
                    display: flex;
                    flex-direction: column;
                    font-family: "Roboto Mono-Regular";
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $color_2;
                    span {
                        font-family: 'Uchen-Regular';
                        font-size: 12px;
                        text-transform: none;
                    }
                }
            }
        }
        .project-count {
            font-family: "Roboto Mono-Regular";
            position: absolute;
            top: -10px;
            left: 0;
            padding: 0 20px;
        }
        .project-image {
            object-fit: contain;
            position: absolute;
            right: -40px;
            padding: 30px 0;
            width: 40%;
        }
        .next, .prev {
            color: $color_1;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 5px;
            position: absolute;
            bottom: -25px;
            border-width: 1px;
            padding: 10px 20px;
        }
        .prev {
            right: 45%;
        }
        .next {
            left: 60%;
        }
    }
}

@media screen and (max-width: 1024px) {
    #work {
        .each-project {
            flex-direction: column;
            justify-content: space-between;
            margin: 50px;
            &.shown {
                display: flex;
            }
            .title {
                font-size: 25px;
            }
            .project-image {
                max-width: 100%;
                max-height: 50%;
                right: 0;
                position: relative;
                padding: 0;
            }
            .other-info {
                .role, .technologies, .year {
                    font-size: 12px;
                }
            }
            .prev {
                left: 10%;
                right: auto;
            }
            .next {
                right: 10%;
                left: auto;
            }
        }
    }
}

//add media query for mobile

@media screen and (max-width: 768px) {
    #work {
        .each-project {
            margin: 0 50px 50px;
            padding: 50px;
            .title {
                padding-bottom: 10px;
            }
            .description {
                font-size: 14px;
            }
            .project-image {
                right: 0;
                position: relative;
                padding: 0;
            }
            .other-info {
                padding-bottom: 30px;
                .role, .technologies, .year {
                    font-size: 12px;
                }
            }
            .prev, .next {
                font-size: 14px;
            }
            .prev {
                left: 5%;
            }
            .next {
                right: 5%;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    #work {
        .each-project {
            margin: 0 20px;
            padding: 20px;
            height: calc(100vh - 130px);
            .description {
                font-size: 12px;
                line-height: 1.2rem;
                grid-row: 2/4;
            }
            .project-image {
                grid-row: 4/7;
            }
            .other-info {
                grid-column-gap: 20px;
                line-height: 1.2;
                justify-content: space-between;
                .role, .technologies, .year {
                    font-size: 10px;
                }
            }
            .prev, .next {
                font-size: 12px;
                padding: 5px 10px;
            }
        }
    }
}